<!-- <h2>Add Artist</h2>
<form (ngSubmit)="addArtist()">
  <input type="text" placeholder="Name" [(ngModel)]="name" name="name" required>
  <textarea placeholder="Bio" [(ngModel)]="bio" name="bio" required></textarea>
  
  <input type="file" (change)="onImageSelected($event)">
  <img *ngIf="imagePreview" [src]="imagePreview" width="100" height="100">

  <button type="submit">Add Artist</button>
</form> -->


<h2 id="heading">Add Artist</h2>

<!-- <form #userform="ngForm"  class="artist-form" > -->
<form class="artist-form" [formGroup]="artistForm">
  <div class="form-group">
    <label for="name">ID</label>
    <input type="text" name="ID" formControlName="id" placeholder="Artist Name" id="name" >
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" formControlName="name" placeholder="Artist Name" id="name" >
  </div>

  <div class="form-group">
    <label for="bio">Bio</label>
    <input type="text" placeholder="Bio" formControlName="bio" id="bio" name="bio">
  </div>

  <div class="form-group">
    <label for="image">Image Upload</label>
    <input type="file" id="image" formControlName="image" name="image" #fileInput (change)="artistForm.get('image')">
  </div>

  <div class="button-group">
    <button id="submit" (click)="onSubmit()">Submit</button>
    <button id="clear" (click)="clear()">Clear</button>
    <button id="btn-back" (click)="sendArtist()">Back To Dashboard</button>
  </div>
</form>
