<!-- <h2>Add Artist</h2>
<form (ngSubmit)="addArtist()">
  <input type="text" placeholder="Name" [(ngModel)]="name" name="name" required>
  <textarea placeholder="Bio" [(ngModel)]="bio" name="bio" required></textarea>
  
  <input type="file" (change)="onImageSelected($event)">
  <img *ngIf="imagePreview" [src]="imagePreview" width="100" height="100">

  <button type="submit">Add Artist</button>
</form> -->


<h2>Add Artist</h2>

<form #userform="ngForm"  class="artist-form" >
  <!-- (ngSubmit)="addArtist() -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" [(ngModel)] ="artist.name" placeholder="Artist Name" id="name" >
  </div>

  <div class="form-group">
    <label for="bio">Bio</label>
    <input type="text" placeholder="Bio" id="bio" name="bio" [(ngModel)]="artist.bio">
  </div>

  <div class="form-group">
    <label for="image">Image Upload</label>
    <input type="file" id="image" name="image" (change)="onImageSelected($event)">

  </div>

  <div class="button-group">
    <button type="submit">Submit</button>
    <button type="button">Clear</button>
  </div>
</form>
