<h2>Welcome {{currentUser.username}}</h2>
<p>You can search and play music here.</p>
<button (click)="logout()">Logout</button>


<app-play-list [songFromParent]="selectedSong"></app-play-list>
<!-- <app-play-list ></app-play-list> -->

<app-player></app-player>

<!-- 🎤 Artist Section -->
<section>
    <div class="section-header">
        <h2> 🎤 Artists List</h2>
      </div>
    
    <div *ngIf="artists.length === 0" class="empty-message">No artists added yet.</div>
    <div class="card-grid">
      <div *ngFor="let artist of artists" class="card">
        <img *ngIf="artist.image" [src]="artist.image" alt="{{ artist.name }}">
        <!-- <img *ngIf="!artist.image" src="" alt="No Image"> -->
        <h3>{{ artist.name }}</h3>
        <p>{{ artist.bio || 'No bio available.' }}</p>
      </div>
    </div>
  </section>

  <hr>

  <!-- 🎵 Song Section -->
  <section>
    <div class="section-header">
      <h2>🎵 Songs List</h2>
    </div>

    <div *ngIf="songs.length === 0" class="empty-message">No songs added yet.</div>
    <div class="card-grid">
      <div *ngFor="let song of songs" class="card">
        <img *ngIf="song.coverImage" [src]="song.coverImage" alt="{{ song.name }}">
        <!-- <img *ngIf="!song.coverImage" src="" alt="No Image"> -->
        <h3>{{ song.name }}</h3>
        <p><strong>Artist:</strong> {{ song.artist }}</p>
        <p><strong>Genre:</strong> {{ song.genre }}</p>
        <p><strong>Album:</strong> {{ song.album }}</p>
        <p><strong>Duration:</strong> {{song.length}}</p>
        <button id="play-btn" (click)="playSongBtn(song)">Play Song</button>
        <button id="queue-btn">Add to Queue</button>
        <button id="playlist-btn" (click)="songSelect(song)">Add To Playlist</button>
      </div>
    </div>
  </section>

  <hr>

  <!-- 💿 Album Section -->
  <section>
    <div class="section-header">
      <h2>💿 Albums List</h2>
    </div>

    <div *ngIf="albums.length === 0" class="empty-message">No albums added yet.</div>
    <div class="card-grid">
      <div *ngFor="let album of albums" class="card">
        <!-- <img *ngIf="album.coverImage" [src]="album.coverImage" alt="{{ album.name }}">
        <img *ngIf="!album.coverImage" src="" alt="No Image"> -->
        <h3>{{ album.name }}</h3>
        <p><strong>Artist:</strong> {{ album.artist }}</p>
      </div>
    </div>
  </section>




  
  